@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap'); 
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px; 
    /*font-family: 'Prompt', sans-serif;*/
}
:root {
    --bg-blue-FGS: rgb(0, 0, 204);
    --bg-blue-nav: linear-gradient(133deg, rgba(51,51,255,1) 0%, rgba(0,0,204,1) 100%);
    --bg-blue-category: linear-gradient(180deg, rgba(5,0,29,1) 0%, rgba(15,10,73,1) 100%);
}

/* --- >> CENTRADO MAGICO! << --- */
.center-father{
    margin: 0;
    display: flex;
    justify-content:center;
    align-items:center;
}
.center-son{
    width: 100%;

}
input:focus{
    outline: none;
}

