.bg-category{
    height: 9vh ;
    background: var(--bg-blue-category);
}
.bg-carrussel{
    height: 55vh ;
    background-color: rgb(255, 0, 0);
}
.bg-brans{
    height: 21vh ;
    background-color: rgb(222, 222, 222);
}
.bg-offers{
    /*background-color: rgb(0, 26, 255);*/
    background-image: url("../../img/img-00.jpg");
    /* Full height */
    height: 90vh ;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-most-sell{
    height: 90vh ; 
    background-color: rgb(222, 222, 222);
}
.img-carousel{
    object-fit: cover;   
}
.carousel-fgstore{
    height:55vh;
}

.brand-logo{
    width: 250px ;

}

.title-ofertas{
    width: 334px;
    height: 50px;
    border-radius: 31px;
    background: #ff0000;
    background-blend-mode: normal;
    box-shadow: 0px 0px 9px rgba(255,255,255,0.3);
    color: #fff; 
}


.img-container{
    height:190px;
    object-fit: cover;
    border-radius: 47px;
    border: 1px  rgba(14,9,69,0.18);
    box-shadow: 0px 0px 9px rgba(255,255,255,0.3);
}
.card-fgstore{
    
    background: rgba(255,255,255,0.75);
    border-radius: 50px;
   
    background-blend-mode: normal;
    box-shadow: 0px 0px 9px rgba(255,255,255,0.3);
}

.btn-card { 
    width: 93px;
    height: 30px; 
    border-radius: 20px;
    background: #0e0945;
    background-blend-mode: normal;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
}